.my_bg {
    background: linear-gradient(to right, #0b3374, #1287da);
}

#container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    flex-grow: 1;
    align-items: end;
    justify-content: center;
}

#footer {
    color: white;
    margin-bottom: 5px;
}

.text_aff {
    margin-top: 10px;
    padding: 1.5rem;
}

.imgToBtn {
    padding: 0;
    border: 8px solid #041f33;
}

.imgToBtn:hover {
    border: 8px solid #0b2d59;
    box-shadow: 2px 2px 2px #000000;
}

