.my_bg {
    background: linear-gradient(to right, #0b3374, #1287da);
}

#container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    margin-bottom: 5px;
}

.margeTic {
    padding: 2rem 0 0 0 ;
}

.imgToBtn {
    padding: 0;
    border: 8px solid #041f33;
}

.imgToBtn:hover {
    border: 8px solid #0b2d59;
    box-shadow: 2px 2px 2px #000000;
    cursor: pointer;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b2d59' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-prev {
    justify-content: flex-start;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230b2d59' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}
.carousel-control-next {
    justify-content: flex-end;
}
.carousel-indicators li {
    background-color: #0b2d59;
}
.carousel-indicators{
    margin-bottom: 0;
}
.carousel-item img{
    padding: 5px;
}
a{
    color: #0b3ba2;
}
.carousel-inner .row {
    margin: auto;
}